@import "tailwindcss";

* {
  margin: 0px;
}

.link {
  font-size: larger;
  font-weight: 600;
  color: whitesmoke;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 20px;
}

.logoName {
  font-size: larger;
  font-weight: 600;
  color: whitesmoke;
}
